.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:20px;
    
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;

}
.green{
    background-color: green;

}
.white{
    background-color: white;
}